<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" />
  <package id="Microsoft.NETCore.Targets" version="1.1.0" manuallyInstalled="true" />
  <package id="NETStandard.Library" version="1.6.1" manuallyInstalled="true" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" />
  <package id="System.Reactive" version="5.0.0" />
  <package id="System.Reflection.TypeExtensions" version="4.1.0" manuallyInstalled="true" />
  <package id="Zeroconf" version="3.6.11" manuallyInstalled="true" />
</packages>